.header {
  background: $dark-blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__link {
  color: white;
  text-decoration: none;
  padding: 1rem 1.4rem;
  border-radius: 0.25rem;

  &:hover {
    background: #435779;
  }
}

.cart-trigger {
  margin-left: 3rem;
}
